In [1]:
# NIM/Nama  : 16520299/Malik Akbar Hashemi Rafsanjani
# Tanggal   : 16 Desember 2020
# Deskripsi : Diberikan data mata uang digital (cryptocurrency) pada file data "cryto.csv", 
#             lalu program akan menampilkan beberapa analisis dari data tersebut.

## Membaca Data

In [2]:
# Mengimport library pandas
import pandas as pd

df = pd.read_csv("crypto.csv")

## Mengakses Data

In [2]:
# Jawaban 1
# Data untuk koin XMR

df.loc[df["name"] == "XMR"]

,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
6566,XMR,2014-05-21,11,2.47,2.65,1.23,1.60,246540.0,1.382563e+06,0.2606,1.42
6567,XMR,2014-05-22,11,1.59,2.19,1.36,2.10,132918.0,1.855608e+06,0.8916,0.83
6568,XMR,2014-05-23,11,2.05,3.43,2.05,2.96,266852.0,2.692180e+06,0.6594,1.38
6569,XMR,2014-05-24,11,2.92,4.01,2.62,3.70,248028.0,3.456658e+06,0.7770,1.39
6570,XMR,2014-05-25,11,4.04,4.04,2.80,3.14,283545.0,2.993339e+06,0.2742,1.24
...,...,...,...,...,...,...,...,...,...,...,...
8214,XMR,2018-11-25,11,58.37,59.35,53.10,58.05,24217900.0,9.635693e+08,0.7920,6.25
8215,XMR,2018-11-26,11,58.13,59.98,52.28,53.22,21913900.0,8.834342e+08,0.1221,7.70
8216,XMR,2018-11-27,11,53.12,58.47,52.39,57.13,19314700.0,9.485086e+08,0.7796,6.08
8217,XMR,2018-11-28,11,57.42,65.74,57.29,63.52,18065200.0,1.054638e+09,0.7373,8.45
8218,XMR,2018-11-29,11,63.87,64.75,59.42,61.20,16842316.0,1.015979e+09,0.3340,5.33

In [3]:
# Jawaban 2
# Data yang ada pada tanggal 2 Maret 2015

df.loc[df["date"] == "2015-03-02"]

,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
673,BTC,2015-03-02,1,260.360000,276.300000,258.310000,275.670000,40465700.0,3.831179e+09,0.9650,17.99
2617,XRP,2015-03-02,2,0.012233,0.012235,0.011931,0.012192,1284250.0,3.890323e+08,0.8586,0.00
5199,USDT,2015-03-02,8,0.571249,0.607890,0.568314,0.606502,3.0,1.525960e+05,0.9649,0.04
6850,XMR,2015-03-02,11,0.425727,0.431746,0.384157,0.428434,67915.0,2.791266e+06,0.9304,0.05

In [5]:
# Jawaban 3
# 5 data dengan nilai low terendah

df.sort_values("low")[:5]

,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
2379,XRP,2014-07-07,2,0.002809,0.003082,0.002802,0.003082,191510.0,24096300.0,1.0000,0.0
2378,XRP,2014-07-06,2,0.003134,0.003169,0.002804,0.002810,148862.0,21969912.0,0.0164,0.0
2054,XRP,2013-08-16,2,0.003082,0.003162,0.002875,0.003134,0.0,24497514.0,0.9024,0.0
2334,XRP,2014-05-23,2,0.003963,0.003976,0.003063,0.003315,1174650.0,25918572.0,0.2760,0.0
2053,XRP,2013-08-15,2,0.003788,0.003804,0.003067,0.003092,0.0,24172681.0,0.0339,0.0

In [8]:
# Jawaban 4
# Nilai high tertinggi

print("Nilai high tertinggi adalah " + str(df["high"].max()))

Nilai high tertinggi adalah 20089.0

In [6]:
# Jawaban 5
# Tanggal ketika nilai high tertinggi XMR terjadi

XMRmax = df.loc[df["name"] == "XMR"]["high"].max()
print("Tanggal ketika nilai high tertinggi XMR terjadi " + 
      str(df.loc[(df["name"] == "XMR") & (df["high"] == XMRmax)]["date"].to_string(index=False)))

Tanggal ketika nilai high tertinggi XMR terjadi  2018-01-07